<div class="outer container" style="width:100%; font-size: 0;">
  <div class="banner-title">
    <h1>DOM<sub>&#60;element&#62;</sub></h1>
    <button class="btn btn-primary demo-btn" (click)="demoButton()">demo</button>
    <button class="btn btn-default about-btn">about</button>
  </div>
  <div class="collection-video">
    <video id="homepagevid" loop="" autoplay="" muted="" width="100%" poster="assets/AltaFall-desktopx1920-final.jpg">
        <source src="assets/Alta Fall– 920x854_web-final.mp4" type="video/mp4">
        <source src="assets/Alta Fall– 920x854_web-final.webm" type="video/webm">
        <img src="assets/AltaFall-desktopx1920-final.jpg"> 
        I'm sorry, your browser doesn't support HTML5 video.
        <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
      </video>
      <img id="homepageimg" src="https://i.pinimg.com/originals/21/64/56/216456a3283da40098988cac578356d1.jpg">
  </div>
</div>
<p id="trigger-invis" style="height:0%; opacity:0;"></p>
<div class="break-wrapper">
  <button class="btn btn-default scroll-down">
    <i class="glyphicon glyphicon-menu-down blink_me"></i>
  </button>
</div>
<div class="break-line"></div>
<div class="outer container outer-starter-background">
  <div class="outer-starter">
    <h5 class="hashtag-for-the-kids">#</h5>
    <h5 class="first-prop"><b>modern</b> businesses require <b>modern</b> technology ... </h5>
    <h5 class="second-prop">I can help.</h5>
  </div>
</div>
<div class="container info-panel-outer">
  <div class="col-12 col-sm-4 col-md-12 col-lg-4 col-xl-4 info-panel info-panel-left">
    <img src="assets/imgs/7361f3b88b.png" class="info-panel-imgs">
    <h4 class="info-panel-title">Innovation</h4>
    <p class="info-panel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-12 col-sm-4 col-md-12 col-lg-4 col-xl-4 info-panel info-panel-center">
    <img src="assets/imgs/7361f3b08b.png" class="info-panel-imgs">
    <h4 class="info-panel-title">Integration</h4>
    <p  class="info-panel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-12 col-sm-4 col-md-12 col-lg-4 col-xl-4 info-panel info-panel-right">
    <img src="assets/imgs/735f0d858b.png" class="info-panel-imgs">
    <h4 class="info-panel-title">Collaboration</h4>
    <p  class="info-panel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="container">    
  <div class="jumbotron myProfile">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
          <img src="assets/imgs/dominic_profile.jpg" alt="profile photo" class="profile-img">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2 class="myName">Dominic Fung</h2>
          </div>
          <hr>
          <p style="font-size:20px; color:#15224f;"><span class="glyphicon glyphicon-envelope personal-info" style="width:40px; color:black;"></span>Dominicmusic.fung@utoronto.ca</p>
          <p class="personal-info"><b>Hi!</b> I am a full-stack developer with a serviceable understanding of styling/UX and an indepth knowledge of back-end tools and development. This site was built with the help of the MEAN stack deployed on AWS, but I am also an expert in Java, Python and Relational Databases. Have something custom in mind? Lets have a chat! </p>
          <p class="personal-info" style="display:inline-block;"><span style="vertical-align:10px;">What's a site without <b style="color:#15224f;">social media icons</b>: &nbsp;&nbsp;</span>
            <a href="https://www.facebook.com/fung.dominic" class="social social-fb">M</a>
            <a href="https://www.linkedin.com/in/dominicchichunfung/" class="social social-in">S</a>
            <a href="https://plus.google.com/u/0/116162035704812410432" class="social social-gp">O</a>
            <a href="https://www.youtube.com/user/FungDominic" class="social social-yt">V</a>
          </p>
      </div>
    </div>
  </div>
</div>